<div style="position: relative">
  <button type="button" (click)="toggleDropdown()" class="btn btn-outline-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" [attr.aria-expanded]="show"><i class="fas fa-key"></i></button>
  <div
    class="dropdown-menu p-1"
    [ngClass]="{'show': show}"
  >
    <div class="row no-gutters align-items-center py-1">
      <div class="col-auto text-right col-label">
        length
      </div>
      <div class="col mx-2">
        <input type="range" class="form-control-range" min="1" max="64" [(ngModel)]="ps.length" name="length">
      </div>
      <div class="col-auto col-value">
        {{ps.length}}
      </div>
    </div>
    <div class="row no-gutters align-items-center py-1">
      <div class="col-auto text-right col-label">
        digits
      </div>
      <div class="col mx-2">
        <input type="range" class="form-control-range" min="0" max="10" [(ngModel)]="ps.numberLength" name="numberLength">
      </div>
      <div class="col-auto col-value">
        {{ps.numberLength}}
      </div>
    </div>
    <div class="row no-gutters align-items-center py-1">
      <div class="col-auto text-right col-label">
        symbols
      </div>
      <div class="col mx-2">
        <input type="range" class="form-control-range" min="0" max="10" [(ngModel)]="ps.symbolLength" name="symbols">
      </div>
      <div class="col-auto col-value">
        {{ps.symbolLength}}
      </div>
    </div>
    <button type="button" class="btn btn-block btn-primary mt-2" (click)="onClickGenerate()">generate</button>
  </div>
</div>
